{%extends 'base.html'%} {% block content %}
<h1>Players</h1>
<a href="{% url 'home' %}">Back to Home</a>

<div class="row">
	{% for users in players %}
	<div class="col">
		<div class="card" style="width: 15rem">
			<div class="card-body">
				<h3 class="card-title">{{users.name}}</h3>
				<p class="card-text">{{users.piece}}</p>
				<p class="card-text">${{users.balance}}</p>
			</div>
			<a href="#" class="btn btn-primary">Deposit</a>
			<a href="#" class="btn btn-primary">Withdraw</a>
			<a href="#" class="btn btn-primary">Change Information</a>
		</div>

	</div>
	{%endfor%}
</div>
{% endblock %}
