{% extends 'base.html' %}

{% block content %}
    <h1>Contacts</h1>
    <div class="row">
         {% for contact in contacts %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ contact.image_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ contact.name }}</h5>
                    <p class="card-text">{{contact.cellPhone}}</p>
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
         {% endfor %}
    </div>
{% endblock %}