.top-border{
    background-image: url("../border.png");
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.profile{
    border-radius: 100%;
    margin-top: 45px;
    height: 130px;
    width: 130px;
}

* {
    text-align: center;
    font-family: arial;
}
h1 {
    font-size: 70px;
}